@import "tailwindcss";

@font-face {
  font-family: "MaruBuri";
  src: url("https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaruBuri";
  src: url("https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff")
    format("woff");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  font-family: "MaruBuri", sans-serif;
  font-size: 15px;
}

p {
  @apply font-normal;
}

.bg-primary {
  background-color: #fffbe1;
}

.bg-secondary {
  background-color: #fffdf1;
}

.image-bg {
  width: 179px;
  height: 349px;
  top: 16px;
  left: 22.37px;
}

.font-name {
  font-weight: 700;
  font-size: 18px;
  color: #4d2511;
}

.font-normal {
  font-weight: 350;
  color: #000000;
}

.title-invitation {
  /* 5.85 : 1 */
  width: 134px;
  height: 24px;
}

.title-location {
  /* 4.92 : 1 */
  width: 108px;
  height: 24px;
}
.title-gallery {
  /* 3 : 1 */
  width: 110px;
  height: 30px;
}
.title-contact {
  /* 3 : 1 */
  width: 120px;
  height: 28px;
}

.text-box {
  /* 2.26 : 1 */
  width: 340px;
  height: 160px;
  border-radius: 8px;
  border-width: 1.4px;
  padding: 10px;
}

.text-wave {
  background-image: url(/src/assets/wave.png);
  background-size: 146px 12px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.bg-parking {
  background-color: #d0bca5;
  border-radius: 5px;
  font-size: 13px;
}

.letter {
  letter-spacing: 1rem;
}

@theme {
  --animate-rotate: rotateAnimation 2s linear infinite;
  --animate-rotate-reverse: rotateAnimationReverse 2s linear infinite;
  --animate-fade-in: fadeIn 1.5s ease-in-out;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes rotateAnimationReverse {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
